/* 
    Document   : main-admin
    Created on : Sep 23, 2014, 2:56:29 PM
    Author     : Abas
    Description:
        Purpose of the stylesheet follows.
*/

.m-warp { 
    margin-left: 47px;
    margin-top: 51px;
    width: 100%;
}

